#marshmallow2 {
    background: #97e9e9;
}






.entry {
    float: left;
    width: 100%;
  height: 100%;
  
}

.entry {
    text-align: center;
    min-height: 100vh;
    position: relative;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

div {
    display: block;
}
#marshmallow2 div {
    width: 100px;
    height: 120px;
    margin-left: -50px;
    margin-top: -62px;
    background-color: #eee;
    background-image: radial-gradient(circle at 50% -70px, rgba(255,255,255,0.85) 48%, rgba(255,255,255,0) 53%), linear-gradient(-80deg, rgba(0,0,0,0.09), rgba(255,255,255,0) 30%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.8) 100%);
    border-top-left-radius: 100px 32px;
    border-top-right-radius: 100px 32px;
    border-bottom-left-radius: 100px 40px;
    border-bottom-right-radius: 100px 40px;
    box-shadow: 6px 6px 0 -2px rgba(0,0,0,0.07);
  transition: all 2s;
}

.entry div {
    position: absolute;
    left: 50%;
    top: 50%;
  transition: all 2s;
}


.entry div:before, .entry div:after {
    display: block;
    content: '';
    position: absolute;
  transition: all 0.01s ;
}
div:after {transition: all 1s ;}
#marshmallow2 div:hover {
  
width: 100px;
    height: 120px;
    margin-left: -50px;
    margin-top: -70px;
    background: white;
    background-image: radial-gradient(circle at 50% -70px, transparent 50%, #f5f5f5 50%);
    border-top-left-radius: 100px 40px;
    border-top-right-radius: 100px 40px;
    border-bottom-left-radius: 100px 40px;
    border-bottom-right-radius: 100px 40px;
    border: 4px solid #808080;
  
}

  div:hover:before {
    width: 8px;
    height: 80px;
    margin-left: -4px;
    left: 50%;
    top: 125px;
    background: #d3d3d3;
    box-shadow: 0 0 0 3px #808080, 0 -193px 0 #d3d3d3, 0 -193px 0 3px #808080;
    transition: all 0.5s ;
}
  div:hover:after {
    width: 10px;
    height: 10px;
    left: 20px;
    top: 50px;
    background: #808080;
    border-radius: 50%;
box-shadow: 50px 0 0 #808080, 25px 3px 0 16px #f5f5f5, 25px 13px 0 11px #808080;
transition: all 1s ;}

@media (min-width: 960px)
.entry.threes {
    width: 33.333%;
}
@media (min-width: 960px)
.entry {
    float: left;
    width: 50%;
}
